/* youtube1.css */

/* Kontainer untuk Iframe YouTube */
#youtubeContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Iframe YouTube */
#youtubeContainer iframe {
  border-radius: 10px; /* Menambahkan sudut melengkung */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan */
}